{% extends "page.html" %}

{% block subtitle %}{{ _('Giriş Yap') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ h.nav_link(_('Login'), named_route='user.login') }}</li>
{% endblock %}

{% block primary_content %}
<section class="module">
  <div class="module-content">
    <h1 class="page-heading">{% block page_heading %}{{ _('Giriş Yap') }}{% endblock %}</h1>
    {% block form %}
    {% snippet "user/snippets/login_form.html", error_summary=error_summary %}
    {% endblock %}
  </div>
</section>
{% endblock %}

{% block secondary_content %}
{% if h.check_access('user_create') %}
{% block help_register %}
<section class="module module-narrow module-shallow">
  {% block help_register_inner %}
  <h2 class="module-heading">{{ _('Hesabınız yok mu?') }}</h2>
  <div class="module-content">
    <p>{% trans %}Oluşturmak için hemen kayıt olun, yalnızca bir dakika sürer.{% endtrans %}</p>
    <p class="action">
      {% block help_register_button %}
      <a class="btn btn-secondary" href="{{ h.url_for('user.register') }}">{{ _('Hesap Oluştur') }}</a>
      {% endblock %}
    </p>
  </div>
  {% endblock %}
</section>
{% endblock %}
{% endif %}

{% block help_forgotten %}
<section class="module module-narrow module-shallow">
  {% block help_forgotten_inner %}
  <h2 class="module-heading">{{ _('Şifrenizi mi unuttunuz?') }}</h2>
  <div class="module-content">
    <p>{% trans %}Sorun yok, şifrenizi sıfırlamak için şifre sıfırlama formunu kullanın.{% endtrans %}</p>
    <p class="action">
      {% block help_forgotten_button %}
      <a class="btn btn-secondary" href="{{ h.url_for('user.request_reset') }}">{{ _('Şifrenizi mi unuttunuz?') }}</a>
      {% endblock %}
    </p>
  </div>
  {% endblock %}
</section>
{% endblock %}
{% endblock %}