{% import 'macros/form.html' as form %}
{% extends "user/login.html" %}

{% set logout_url = h.url_for('user.logout') %}

{% block actions %}{% endblock %}

{% block form %}
<div class="alert alert-danger">{{ _("Zaten {user} olarak giriş yaptınız.").format(user=current_user.name) }} <a
    href="{{ logout_url }}">{{ _('Çıkış Yap') }}</a>?</div>
{{ form.input('login', label=_('Kullanıcı Adı'), id='field-login', value="", error="", classes=["control-full"],
attrs={"disabled": "disabled"}) }}
{{ form.input('password', label=_('Şifre'), id='field-password', type="password", value="", error="",
classes=["control-full"], attrs={"disabled": "disabled"}) }}
{{ form.checkbox('remember', label=_('Beni Hatırla'), id='field-remember', checked=true, attrs={"disabled": "disabled"})
}}
<div class="form-actions">
  <button class="btn btn-primary disabled" type="submit" disabled>{{ _('Giriş Yap') }}</button>
</div>
{% endblock %}

{% block secondary_content %}
<section class="module module-narrow module-shallow">
  <h2 class="module-heading">{{ _("Zaten giriş yaptınız") }}</h2>
  <div class="module-content">
    <p>{{ _("Önce başka bir hesapla giriş yapmak için çıkış yapmalısınız.") }}</p>
    <p class="action"><a class="btn btn-secondary" href="{{ logout_url }}">{{ _("Çıkış Yap") }}</a></p>
  </div>
</section>
{% endblock %}