{% extends "page.html" %}
{% import "macros/form.html" as form %}

{% block subtitle %}{{ _('Şifrenizi Sıfırla') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ _('Şifre Sıfırlama') }}</li>
{% endblock %}

{% block primary_content %}
<article class="module">
  {% block primary_content_inner %}
  <div class="module-content">
    <h1 class="page-heading">
      {% block page_heading %}{{ _('Şifrenizi Sıfırla') }}{% endblock %}
    </h1>
    {% block form %}
    <form action="" method="post">
      {{ h.csrf_input() }}
      {{ form.errors(error_summary) }}
      {% if user_dict['state'] == 'pending' %}
      <p>{{ _('Kullanıcı adınızı da değiştirebilirsiniz. Bu daha sonra değiştirilemez.') }}</p>
      {{ form.input("name", id="field-name", label=_("Kullanıcı Adı"), type="text", value=user_dict["name"],
      error=errors.name, attrs={'autocomplete': 'no', 'class': 'form-control control-medium'}, classes=["form-group"])
      }}
      {% endif %}
      {{ form.input("password1", id="field-password", label=_("Şifre"), type="password", value='',
      error=errors.password1, attrs={'autocomplete': 'no', 'class': 'form-control control-medium'},
      classes=["form-group"]) }}
      {{ form.input("password2", id="field-confirm-password", label=_("Şifreyi Doğrula"), type="password", value='',
      error=errors.password2, attrs={'autocomplete': 'no', 'class': 'form-control control-medium'},
      classes=["form-group"]) }}
      <div class="form-actions">
        {% block form_button %}
        <button class="btn btn-primary" type="submit" name="save">{{ _("Şifreyi Güncelle") }}</button>
        {% endblock %}
      </div>
    </form>
    {% endblock %}
  </div>
  {% endblock %}
</article>
{% endblock %}

{% block secondary_content %}
{% block help %}
<section class="module module-narrow module-shallow">
  {% block help_inner %}
  <h2 class="module-heading">{{ _('Bu nasıl çalışır?') }}</h2>
  <div class="module-content">
    <p>{% trans %}Sadece yeni bir şifre girin ve biz sizin hesabınıza güncelleyeceğiz.{% endtrans %}</p>
  </div>
  {% endblock %}
</section>
{% endblock %}
{% endblock %}