{% extends "admin/base.html" %}

{% block subtitle %}{{ _("Onayla Sıfırla") }}{% endblock %}

{% block primary_content_inner %}
<form action="{% url_for 'admin.reset_config' %}" method="post">
  {{ h.csrf_input() }}
  <p>{{ _('Yapılandırmayı sıfırlamak istediğinize emin misiniz?') }}</p>
  <p class="form-actions">
    <button class="btn btn-danger" type="submit" name="cancel">{{ _('İptal') }}</button>
    <button class="btn btn-primary" type="submit" name="delete">{{ _('Onayla Sıfırla') }}</button>
  </p>
</form>
{% endblock %}