{% trans %}
<p>CKAN is the world’s leading open-source data portal platform.</p>

<p>CKAN, verilerin erişilebilir ve kullanılabilir hale getirmek için tam bir çözüm sunan, tamamen hazır-kutu çözümdür.
    Veri yayınlamayı, paylaşmayı, bulmayı ve kullanmayı kolaylaştırmak için araçlar sağlar (veri depolamayı ve güçlü
    veri API'leri sağlayın). CKAN, verilerini açık ve erişilebilir hale getirmek isteyen ülkeler ve kullanıcı gruplarına
    yöneliktir.</p>

<p>CKAN, dünya genelinde hükümetler ve kullanıcı grupları tarafından kullanılır ve birçok resmi ve topluluk veri portali
    ile güçlendirilmiştir, bu portaller yerel, ulusal ve uluslararası hükümetler için portallar gibi, böylece <a
        href="https://data.gov.uk">data.gov.uk</a> ve ABD'nin <a href="https://catalog.data.gov/">catalog.data.gov</a>,
    Brezilya'nın <ahref="https: //dados.gov.br/">dados.gov.br</a>, Hollanda ve Hollandalı hükümet portalları, ayrıca
        ABD, İngiltere, Arjantin, Finlandiya ve diğer yerlerdeki şehir ve kasabı siteleri gibi.</p>

<p>CKAN: <a href="https://ckan.org/">https://ckan.org/</a><br />
    CKAN Showcases: <a href="https://ckan.org/showcase">https://ckan.org/showcase</a><br />
    Features overview: <a href="https://ckan.org/features/">https://ckan.org/features/</a></p>
{% endtrans %}