{% extends "package/edit_base.html" %}

{% block primary_content %}
<section class="module">
  {% block page_header %}{% endblock %}
  <div class="module-content">
    {% block primary_content_inner %}
    {% block form %}
    {{- h.snippet(form_snippet, pkg_dict=pkg_dict, **form_vars) -}}
    {% endblock %}
    {% endblock %}
  </div>
</section>
{% endblock %}

{% block secondary_content %}
{% block info_module %}
<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('Veri Setleri Nedir?') }}</h2>
  <div class="module-content">
    <p>
      {% trans %}
      CKAN Veri Seti, sabit bir URL'de bir açıklama ve diğer bilgilerle
      birlikte veri kaynaklarının (dosyalar gibi) bir koleksiyonudur.
      Veri setleri, kullanıcıların veri ararken gördükleridir
      {% endtrans %}
    </p>
  </div>
</section>
{% endblock %}

{% block resources_module %}
{# Yapılacaklar: Daha önce oluşturulmuş kaynakların listesini ve geçerli paket sözlüğünü iletin #}
{% snippet "package/snippets/resources.html", pkg={}, action='new_resource' %}
{% endblock %}
{% endblock %}