{#
Displays a sidebard module with information about group.

group_type - The type of group.

Example:

{% snippet "group/snippets/helper.html", group_type=group_type %}

#}

<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('Gruplar nedir?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
      Gruplar, veri setlerini gruplayarak daha iyi yönetmek için kullanılır.
      Bu, belirli bir projeye veya takıma veri setlerini kataloglamak için,
      belirli bir konuya, yayınlanan veri setlerini bulmak ve aramak için
      kullanılabilir.
      {% endtrans %}
    </p>
  </div>
</div>