<footer class="site-footer">
  <div class="container">
    <div class="footer-container">

      <!-- Sol: Logo -->
      <div class="footer-left">
        <a href="{{ h.url_for('home.index') }}">
          <img src="/base/images/sampas-logo.png" alt="SAMPAS Logo" class="footer-brand-logo">
        </a>
      </div>

      <!-- Orta: İletişim ve Bilgiler (Yan Yana) -->
      <div class="footer-center">

        <div class="footer-info">
          <h4>İletişim Bilgileri</h4>
          <ul>
            <li><i class="fa fa-map-marker"></i> Adres bilgisi</li>
            <li><i class="fa fa-phone"></i> Telefon bilgisi</li>
            <li><i class="fa fa-envelope"></i> E-posta bilgisi</li>
          </ul>
        </div>

        <div class="footer-info">
          <h4>Yasal Bilgiler</h4>
          <ul>
            <li><a href="#">Gizlilik Politikası</a></li>
            <li><a href="#">Kullanım Koşulları</a></li>
            <li><a href="#">Lisans Bilgileri</a></li>
          </ul>
        </div>

        <div class="footer-info">
          <h4>Sosyal Medya</h4>
          <div class="social-links">
            <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-link"><i class="fab fa-x-twitter"></i></a>
            <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>

      </div>

      <!-- Sağ: Attribution -->
      <div class="footer-right">
        <div class="attribution">
          <p><strong>Powered by</strong> <a href="http://ckan.org">CKAN</a></p>
          <ul>
            <li><a href="http://docs.ckan.org/en/{{ g.ckan_doc_version }}/api/">CKAN API</a></li>
            <li><a href="http://www.ckan.org/">CKAN Derneği</a></li>
            <li><a href="http://www.opendefinition.org/okd/"><img
                  src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>