{% set dataset_type = h.default_package_type() %}

{% block header_wrapper %}
{% block header_account %}
<div class="account-masthead">
  <div class="container">
    {% block header_account_container_content %}
    {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %}
        {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for('admin.index') }}" aria-label="{{ _('Yönetici ayarları') }}"
            data-bs-title="{{ _('Yönetici ayarları') }}" data-bs-toggle="tooltip">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Yönetici') }}</span>
          </a>
        </li>
        {% endif %}
        {% block header_account_profile %}
        <li>
          {% if c.userobj and c.userobj.name %}
          <a href="/user/{{ c.userobj.name }}" class="image" aria-label="{{ _('Profili görüntüle') }}"
            data-bs-title="{{ _('Profili görüntüle') }}" data-bs-toggle="tooltip">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </a>
          {% endif %}
        </li>
        {% endblock %}
        {% block header_dashboard %}
        <li>
          {% if c.userobj %}
          <a href="/dashboard" aria-label="{{ _('Kontrol paneli') }}" data-bs-title="{{ _('Kontrol paneli') }}"
            data-bs-toggle="tooltip">
            <i class="fa fa-dashboard" aria-hidden="true"></i>
            <span class="text">{{ _('Kontrol Paneli') }}</span>
          </a>
          {% endif %}
        </li>
        {% endblock %}
        {% block header_account_settings_link %}
        <li>
          {% if c.userobj and c.userobj.name %}
          <a href="/user/edit/{{ c.userobj.name }}" aria-label="{{ _('Profil ayarları') }}"
            data-bs-title="{{ _('Profil ayarları') }}" data-bs-toggle="tooltip">
            <i class="fa fa-gear" aria-hidden="true"></i>
            <span class="text">{{ _('Profil Ayarları') }}</span>
          </a>
          {% endif %}
        </li>
        {% endblock %}
        {% block header_account_log_out_link %}
        <li>
          <form action="{{ h.url_for('user.logout') }}" method="post">
            {{ h.csrf_input() }}
            <button class="btn btn-link" type="submit" aria-label="{{ _('Çıkış yap') }}"
              data-bs-title="{{ _('Çıkış yap') }}" data-bs-toggle="tooltip">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
          </form>
        </li>
        {% endblock %}

        <li class="language-selector">
          <a href="{{ h.url_for(request.endpoint, locale='en') }}" class="lang-btn"
            style="display: inline-block;">EN</a>
          <a href="{{ h.url_for(request.endpoint, locale='tr') }}" class="lang-btn"
            style="display: inline-block;">TR</a>
        </li>

        {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed" aria-label="{{ _('Account') }}">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}
        <li>{% link_for _('Giriş Yap'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li><b>{% link_for _('Kayıt Ol'), named_route='user.register', class_='sub' %}</b></li>

        <li class="language-selector" style="display: inline-block;">
          <a href="{{ h.url_for(request.endpoint, locale='en') }}"
            class="lang-btn {% if request.blueprint != 'user' %}{% endif %}" style="display: inline-block;">EN</a>
          <a href="{{ h.url_for(request.endpoint, locale='tr') }}"
            class="lang-btn {% if request.blueprint != 'user' %}{% endif %}" style="display: inline-block;">TR</a>
        </li>

        {% endif %}
        {% endblock %}
      </ul>
    </nav>
    {% endif %}
    {% endblock %}
  </div>
</div>
{% endblock %}

<header class="masthead">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <hgroup class="{{ g.header_class }} navbar-left">
        {% block header_logo %}
        {% if g.site_logo %}
        <a class="logo" href="{{ h.url_for('home.index') }}">
          <div class="png-placeholder"
            style="width: 200px; height: 50px; border: 1px dashed #ccc; display: flex; align-items: center; justify-content: center;">
            PNG
          </div>
        </a>
        {% else %}
        <h1>
          <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
        </h1>
        {% if g.site_description %}
        <h2>{{ g.site_description }}</h2>
        {% endif %}
        {% endif %}
        {% endblock %}
      </hgroup>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation-toggle"
        aria-controls="main-navigation-toggle" aria-expanded="false" aria-label="{{ _('Toggle navigation') }}">
        <span class="fa fa-bars text-white"></span>
      </button>

      <div class="main-navbar collapse navbar-collapse" id="main-navigation-toggle">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% block header_site_navigation %}
          {% block header_site_navigation_tabs %}
          {% set org_type = h.default_group_type('organization') %}
          {% set group_type = h.default_group_type('group') %}

          {% if c.userobj and c.userobj.sysadmin %}
          {{ h.build_nav_main(
          ('role.index', _('Roller')),
          (dataset_type ~ '.search', _('Tüm Veri Setleri')),
          (org_type ~ '.index', _('Organizasyonlar')),
          (group_type ~ '.index', _('Gruplar')),
          ('home.veri_istegi', _('Veri İsteği'))
          ) }}
          {% else %}
          {{ h.build_nav_main(
          (dataset_type ~ '.search', _('Tüm Veri Setleri')),
          (dataset_type ~ '.search', _('Gösterge paneli')),
          (org_type ~ '.index', _('Organizasyonlar')),
          ('home.veri_istegi', _('Veri İsteği'))
          ) }}
          {% endif %}
          {% endblock %}
          {% endblock %}
        </ul>

      </div>
    </nav>
  </div>
</header>
{% endblock %}

<style>
  .language-selector {
    display: inline-block;
    margin-right: -100px;
    margin-left: 80px;
  }

  .language-selector :nth-child(1) {
    border-right: 1px solid #fff;
  }


  .lang-btn {
    color: #fff;
    text-decoration: none;
    padding: 2px 5px;
    font-size: 14px;
  }

  .lang-btn:hover {
    color: #e6e6e6;
    text-decoration: none;
  }

  .lang-btn.active {
    font-weight: bold;
  }

  .data-bs-title:hover {
    color: #fff;
    text-decoration: none;
    background-color: #fff;
  }
</style>